.card
  .card-header 
    label Slurm Options
    button#g-SlurmOption-settings-form save
  ul.list-group.list-group-flush
    li.partitionOpt.list-group-item
      label partition:
      select#g-slurmOption-partition
        option(value='quick',selected=settings.partition=='quick') quick
        option(value='norm',selected=settings.partition=='norm') norm
        option(value='gpu',selected=settings.partition=='gpu') gpu
    li.list-group-item
      label nodes
      input#g-slurmOption-nodes(value=settings.nodes)
    li.list-group-item
      label ntasks
      input#g-slurmOption-ntasks(value=settings.ntasks)
    li.list-group-item
      label cpu_per_task
      input#g-slurmOption-cpu(value=settings.cpu_per_task)
    li.list-group-item
      label mem_per_cpu(GB)
      input#g-slurmOption-mem(value=settings.mem_per_cpu)
    li.list-group-item
      label time(h)
      input#g-slurmOption-time(value=settings.time)
    li.list-group-item
      label gres
      input#g-slurmOption-gres(value=settings.gres)